<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>koeln.barthy.riseandfall</string>
    <key>CFBundleName</key>
    <string>RISE&amp;FALL</string>
    <key>CFBundleDisplayName</key>
    <string>RISE&amp;FALL</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>Barthy</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>Barthy: RISE&amp;FALL</string>
        <key>description</key>
        <string>VST Plugin for Build-Ups and Drops</string>
        <key>factoryFunction</key>
        <string>riseandfallAUFactory</string>
        <key>manufacturer</key>
        <string>BBKO</string>
        <key>type</key>
        <string>aumu</string>
        <key>subtype</key>
        <string>RIFA</string>
        <key>version</key>
        <integer>65536</integer>
      </dict>
    </array>
  </dict>
</plist>
